[Desktop Entry]
Version=1.0
Name=ORO Core
Comment=ORO P2P Cryptocurrency
Comment[fr]=ORO, monnaie virtuelle cryptographique pair à pair
Comment[tr]=ORO, eşten eşe kriptografik sanal para birimi
Exec=oro-qt %u
Terminal=false
Type=Application
Icon=oro128
MimeType=x-scheme-handler/oro;
Categories=Office;Finance;
StartupWMClass=Oro-qt
